# here is fake slack_api_url. DO NOT FORGET to set correct url!
export SLACK_API_URL="https://hooks.slack.com/services/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"
export SLACK_CHANNEL="#channel_here"
