project = "PROJECT-ID"
location = "us-central1-a"
region = "us-central1"
cluster_name = "example-public-cluster"
cluster_service_account_name = "example-public-cluster-sa"
cluster_service_account_description = "example-public-cluster GKE Cluster Service Account managed by Terraform"
vpc_cidr_block = "10.3.0.0/16"
vpc_secondary_cidr_block = "10.4.0.0/16"
